<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
	<title>请输入购票验证码</title>
	<link href="/css/jquery-ui.css" rel="stylesheet"/>
	<script src="/js/jquery.js"></script>
	<script src="/js/jquery-ui.js"></script>
	<style>
		.demoHeaders {
			margin-top: 0.5em;
			margin-bottom: 0.5em;
		}
		div#users-contain { width: 100%; margin: 20px 0; }
		div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
		div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
		.labelHeaders {
			margin: 0.5em;
			font-size: 18px;
		}
	</style>
</head>
<body>
	<p2>购票验证</p2>
	<form method="post" action="/task/confirmTicket">
		<div class="form-group form-inline">
			<label >验证码序号：</label><br/>
			<label><input type="checkbox" class="cb" th:name="numbers" value="1" />1</label><br/>
			<label><input type="checkbox" class="cb" th:name="numbers" value="2" />2</label><br/>
			<label><input type="checkbox" class="cb" th:name="numbers" value="3" />3</label><br/>
			<label><input type="checkbox" class="cb" th:name="numbers" value="4" />4</label><br/>
			<label><input type="checkbox" class="cb" th:name="numbers" value="5" />5</label><br/>
			<label><input type="checkbox" class="cb" th:name="numbers" value="6" />6</label><br/>
			<label><input type="checkbox" class="cb" th:name="numbers" value="7" />7</label><br/>
			<label><input type="checkbox" class="cb" th:name="numbers" value="8" />8</label><br/>
			<div style="margin: 20px 0"></div>
		</div>
		<input type="hidden" name="pipeline" th:value="${pipeline}"/>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</body>
<script>

    $("#submit").controlgroup();

</script>
</html>