<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
	<title>请输入购票验证码</title>
	<link href="/css/jquery-ui.css" rel="stylesheet"/>
	<script src="/js/jquery.js"></script>
	<script src="/js/jquery-ui.js"></script>
	<style>
		.demoHeaders {
			margin-top: 0.5em;
			margin-bottom: 0.5em;
		}
		div#users-contain { width: 100%; margin: 20px 0; }
		div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
		div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
		.labelHeaders {
			margin: 0.5em;
			font-size: 18px;
		}
	</style>
</head>
<body>
	<form method="post" action="/task/confirmTicket">
		<fieldset>
			<legend>订单二次验证</legend>
			<div id="submit">
				<h3 class="demoHeaders">选择验证码</h3>

				<label for="checkbox-0">1</label>
				<input type="checkbox" name="fields" id="checkbox-0" value="1"/>

				<label for="checkbox-1">2</label>
				<input type="checkbox" name="fields" id="checkbox-1" value="2"/>

				<label for="checkbox-2">3</label>
				<input type="checkbox" name="fields" id="checkbox-2" value="3" />

				<label for="checkbox-3">4</label>
				<input type="checkbox" name="fields" id="checkbox-3" value="4" />

				<label for="checkbox-4">5</label>
				<input type="checkbox" name="fields" id="checkbox-4" value="5" />

				<label for="checkbox-5">6</label>
				<input type="checkbox" name="fields" id="checkbox-5" value="6" />

				<label for="checkbox-6">7</label>
				<input type="checkbox" name="fields" id="checkbox-6" value="7" />

				<label for="checkbox-7">8</label>
				<input type="checkbox" name="fields" id="checkbox-7" value="8" />

				<input type="hidden" name="pipeline" th:value="${pipeline}"/>
				<br/><br/><br/>
				<input type="submit" th:value="提交" />
			</div>
		</fieldset>
	</form>
</body>
<script>

    $("#submit").controlgroup();

</script>
</html>